absl-py==0.7.1
alabaster==0.7.12
astor==0.8.0
attrs==19.1.0
Babel==2.7.0
backports.weakref==1.0rc1
biblib-simple==0.1.1
certifi==2019.6.16
chardet==3.0.4
click==7.1.2
colour==0.1.5
colour-demosaicing==0.1.4
colour-science==0.3.13
config==0.4.2
coverage==4.5.4
cycler==0.10.0
Cython==0.29.12
dataclasses==0.7
decorator==4.4.0
dill==0.3.2
docutils==0.15.2
dominate==2.4.0
entrypoints==0.3
enum34==1.1.6
exif==0.8.1
filelock==3.0.12
flake8==3.7.8
flickr-api==0.7.3
gast==0.2.2
grpcio==1.21.1
h5py==2.9.0
httplib2==0.13.1
idna==2.8
imageio==2.5.0
imagesize==1.1.0
invoke==1.3.0
isodate==0.6.0
Jinja2==2.10.1
joblib==0.13.2
kiwisolver==1.1.0
latexcodec==1.0.7
mahotas==1.4.8
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mock==3.0.5
multiprocess==0.70.10
nose==1.3.7
numpy==1.14.5
oauth2==1.9.0.post1
opencv-python==4.1.0.25
oset==0.1.3
p-tqdm==1.3.3
packaging==19.1
pandas==0.24.2
pathos==0.2.6
Pillow==6.0.0
pkg-resources==0.0.0
pkginfo==1.5.0.1
pox==0.2.8
ppft==1.6.6.2
protobuf==3.7.1
pyasn1==0.4.7
pybm3d==0.2.1
pybtex==0.22.2
pybtex-docutils==0.2.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pyparsing==2.4.0
python-dateutil==2.8.0
python-louvain==0.13
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
rdflib==5.0.0
readme-renderer==24.0
regex==2020.7.14
requests==2.22.0
requests-toolbelt==0.9.1
restructuredtext-lint==1.3.0
rsa==4.0
sacremoses==0.0.43
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
sentencepiece==0.1.91
six==1.12.0
sklearn==0.0
snowballstemmer==1.9.0
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-bibtex==0.4.2
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
termcolor==1.1.0
twine==1.13.0
urllib3==1.25.3
webencodings==0.5.1
Werkzeug==0.15.4
yapf==0.23.0
